
<section class="vh-100 gradient-custom">
    <div class="container py-5 h-100">
      <div class="row d-flex justify-content-center align-items-center h-100">
        <div class="col-12 col-md-8 col-lg-6 col-xl-5">
          <div class="card bg-white text-gray" style="border-radius: 1rem;">
            <div class="card-body p-5 text-center">
  
              <div class="mb-md-5 mt-md-4 pb-5">
  
                <h2 class="fw-bold mb-2 " style="color:rgb(48, 42, 42);">Login</h2>
                <br>

         <form #loginForm="ngForm" (ngSubmit)="onSubmit()">
          <div class="login-block">
                <div class="input-group form-outline form-white mb-4 ">
                  <span class="input-group-text">
                    <i class="fas fa-user"></i> <i class="pi pi-user"></i>
                  </span>
                  <input type="text" name="username" id="username" class="form-control form-control-lg " [(ngModel)]="user.username" required placeholder="Username" style="color:dimgray;"/>
                </div>
                </div>
  
                <div class="login-block">
                <div class=" input-group form-outline form-white mb-4 ">
                  <span class="input-group-text">
                    <i class="fas fa-lock"></i><i class="pi pi-lock"></i>
                  </span>
                  <input type="password"  name="password" id="password" class="form-control form-control-lg" [(ngModel)]="user.password" required placeholder="Password"/>
                  
                </div>
          </div>
  </form>
                
                <input type="checkbox" id="true" name="true" >
                <label for="vehicle1" style="margin-left: 10px;"> Remember me</label>
                <br>
                <br>
                <button type="button" class="btn btn-primary btn-lg"  style="background: linear-gradient(to right, rgb(246, 187, 61) ,rgb(241, 90, 90)); width: 300px; border-radius: 70px;" [disabled]="!loginForm.form.valid"  routerLink="home">Login</button>
                <br>
                <br>
                <p class="small mb-5 pb-lg-2"><a style="color:gray;" href="#!">Forgot password?</a></p>
  
              </div>
  
              <div>
                <p class="mb-0">Not a member? <a href="#!" style="color:blue">Sign Up now</a>
                </p>
              </div>
  
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>